body{/* Abrindo body */
    background-color:#a3768b ;
    color:rgb(25, 0, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}/* Fechando Body */

/* criando uma classe exemplo */
.titulo{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}

.sexta{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    
}
.madruga{
    text-align: right;
    
}